<div class="container">
    <form class="border p-3 rounded-3" [formGroup]='productForm' (ngSubmit)="addProduct()">
        <div class="row g-0">
            <div class="col text-center p-2 mb-3 bg-light">
                <span class="fs-3">Add Product</span>
            </div>
        </div>

        <div class="row">
            <div class="col mb-3">
                <input type="text" class="control" placeholder="name" formControlName="pname"
                    [ngClass]="{'error': productForm.controls['pname'].invalid && (productForm.controls['pname'].dirty  || productForm.controls['pname'].touched)}">
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <input type="text" class="control" placeholder="category" formControlName="pcategory">
            </div>
        </div>

        <div class="row">
            <div class="col mb-3">
                <input type="text" class="control" placeholder="brand" formControlName="pbrand">
            </div>
        </div>

        <div class="row">
            <div class="col mb-3">
                <input type="text" class="control" placeholder="price" formControlName="pprice">
            </div>
        </div>

        <div class="row">
            <div class="col mb-3">
                <input type="text" class="control" placeholder="quantity" formControlName="pquantity">
            </div>
        </div>

        <div class="row">
            <div class="col mb-3">
                <input type="text" class="control" placeholder="unit" formControlName="punit">
            </div>
        </div>

        <div class="row">
            <div class="col-6 offset-3">
                <div class="d-grid">
                    <input class="btn btn-primary" type="submit" value="Submit">
                </div>
            </div>
        </div>
    </form>
</div>