.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    height: 100%;
}

form{
    width:500px;
}

.control{
    display: block;
    margin-left: 140px;
    padding:5px;
    text-align: center;
    border: 1px solid gray;
}

.error{
    border: 2px solid red;
}